$PRIMARY_MAIN: #9a55ff;
$primary-color: #f2edf3;

html,
body {
  font-family: 'tahoma', sans-serif;
  letter-spacing: 0.4px;
  height: 100%;
  width: 100%;
  background-color: $primary-color;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.text-align-center {
  text-align: center;
}
.padding-16 {
  padding: 16px;
}
.c {
  color: $PRIMARY_MAIN !important;
}
.pointer {
  cursor: pointer;
}
