$PRIMARY_MAIN: #b66dff;
$primary-color: aliceblue;

html,
body {
  font-family: 'ubuntu-medium', sans-serif;
  height: 100%;
  width: 100%;
  background-color: $primary-color;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.text-align-center {
  text-align: center;
}
.padding-16 {
  padding: 16px;
}
.c {
  color: $PRIMARY_MAIN !important;
}
