$primary-color: aliceblue;

html,
body {
  font-family: 'Chinese Quote', Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: $primary-color;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.text-align-center {
  text-align: center;
}
.padding-16 {
  padding: 16px;
}
