.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 16px;
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
.search {
  border: none;
}
.iconSearch {
  font-size: large;
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-right: 16px;
  margin-left: 16px;
}

.avatarContainer {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
.avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: 'contain';
}
.inputSearch {
  width: 100%;
}
